.header {
  padding: 0 10px;
}
.header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 64px;
  color: #FDD36A;
  font-size: 20px;
}
.header .logo img {
  height: 40px;
}
